{% extends 'base1.html' %}

{% block title %}About Page{% endblock %}

{% block about_active %}active{% endblock %}

{% block content %}
    <!-- Banner-section -->
    <section id="hero1">
        <figure class="text-center">
            <div class="container">
                <h1>About</h1>
                <br>
                <p class="fs-4 fw-norma c1" class="text-center">Our AI-enabled car parking system is a computer vision-based project that automates the parking process. Using a camera and OpenCV library, our system can identify empty parking spaces and give an accurate count of how many spots are available in real-time.
                    <br><br>
                    Our system is designed to make parking easy and stress-free for drivers in busy urban areas. With our system, you can save time and avoid the frustration of searching for a parking spot.</p>
            </div>
        </figure>
    </section>
{% endblock %}
