{% extends 'base1.html' %}

{% block title %}Contact Page{% endblock %}

{% block contact_active %}active{% endblock %}

{% block content %}
    <!-- Banner-section -->
    <section id="hero1">
        <figure class="text-center">
            <div class="container">
                <h1>Contact</h1>
                <br>
                <p class="fs-4 fw-norma c1" class="text-center">We are the developers behind the AI-enabled car parking system, Dhinesh S, Barath M, and Elangeswaran S. If you have any questions, suggestions, or feedback about our system, please don't hesitate to reach out to us. We're always happy to hear from our users and assist you with any issues or concerns you may have.
                    <br><br>
                    You can contact us via email at <a href="mailto:dbemint@gmail.com">dbemint@gmail.com</a> or by filling out the contact form on our website. We'll get back to you as soon as possible.
                    <br><br>
                    Thank you for choosing our AI-enabled car parking system.<br> We strive to make parking easier and stress-free for you.</p>
            </div>
        </figure>
    </section>
{% endblock %}
